#button
{
    padding: 20px 40px;
    position: absolute;
    left: 45%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: green;
    cursor: pointer;
    border: none;
    transition: 0.5s ease-in-out;
}
#button:hover{
    background-color: pink;
}

#button1
{
    padding: 20px 40px;
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translate(-60%,-50%);
    background-color: green;
    cursor: pointer;
    border: none;
    transition: 0.5s ease-in-out;
}
#button1:hover{
    background-color: pink;
}

.timer{
    position: absolute;
    left: 460px;
    top: 90px; 
    padding: 20px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1.5em;
    background-color: rgb(54, 52, 52);
    color:white
}
#header,#header2,#colon,#header3,#header4
{
    display: inline-block;
}
w